<!DOCTYPE html>
<html lang="en-us" ng-app="app" id="top">
    <head>
        <title>Zôftware</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css" />
        <link rel="stylesheet" href="static/calendar.css" />

        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
        <script src="bower_components/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.min.js" type="text/javascript"></script>
        <script src="bower_components/fullcalendar/dist/gcal.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js" type="text/javascript"></script>
        <!-- AngularStrap -->
        <script src="bower_components/angular-strap/dist/angular-strap.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js" type="text/javascript"></script>
        <!-- Angular Motion -->
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css">
        <!-- socket.io -->
        <script src="bower_components/socket.io-client/dist/socket.io.js" type="text/javascript"></script>
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
        <!-- angular-toastr -->
        <!-- <script type="text/javascript" src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script> -->
        <script type="text/javascript" src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.min.css">

        <link rel="stylesheet" href="static/style.css" />

        <!-- angular -->
        <script src="app.js"></script>
        <!-- controllers -->
        <script src="controllers/header.js"></script>
        <script src="controllers/login.js"></script>
        <script src="controllers/register.js"></script>
        <script src="controllers/profile.js"></script>
        <script src="controllers/home.js"></script>
        <script src="controllers/schedule.js"></script>
        <!-- services -->
        <script src="services/socket.js"></script>
        <script src="services/authentication.js"></script>
        <script src="services/schedule.js"></script>
        <script src="services/profile.js"></script>

    </head>
    <body ng-controller="HeaderController">

        <header>
			<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Zôftware</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: isActive('/')}"><a href="#!/"><i></i>Início</a></li>
                    <li ng-class="{ active: isActive('/schedule')}"><a href="#!/schedule"><i></i>Agenda</a></li>
                    <li ng-class="{ active: isActive('/login')}" ng-hide="isLoggedIn"><a href="#!/login">Log in</a></li>
                    <li ng-class="{ active: isActive('/profile')}" ng-show="isLoggedIn"><a href="#!/profile">{{ currentUser.name }}</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-view></div>
            
		</div>

    </body>
</html>