<form>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">
    </div>

    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
    </div>

    <div class="form-inline">
		<button type="submit" class="btn btn-default" ng-click="login()">Log in</button>
		ou <a href="#!/register">registrar</a>
	</div>

</form>
