<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h3 class="modal-title" ng-class="{ emptytitle: newEventData.title === '' }">{{ newEventData.title || 'Novo Agendamento' }}</h3>
                <h5 class="modal-title">{{ newEventData.start | date: 'HH:mm' }} - {{ newEventData.end | date: 'HH:mm' }} ({{eventDuration.hours()}}h{{eventDuration.minutes()}}m)</h5>

            </div>

            <div class="modal-body">

                <div class="error">{{Message}}</div>


                <div class='row'>
                    <div class='col-md-6'>

                        <div class="form-group">
                            <label>De</label>

                            <form name="datepickerForm" class="form-inline" role="form">
                                <div class="form-group" ng-class="{'has-error': datepickerForm.date.start.$invalid}">

                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </span>
                                        <input
                                            style="width: 50%; text-align: center;"
                                            class="form-control"
                                            size="8"
                                            ng-model="newEventData.start"
                                            name="time"
                                            bs-timepicker
                                            data-time-format="HH:mm"
                                            data-minute-step="5"
                                            data-arrow-behavior="picker"
                                            type="text">
                                        <input
                                            style="width: 50%; text-align: center;"
                                            class="form-control"
                                            ng-model="newEventData.start"
                                            name="date"
                                            bs-datepicker
                                            type="text">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>


                    <div class='col-md-6'>
                        <div class="form-group">

                            <label>Até</label>

                            <form name="datepickerForm" class="form-inline" role="form">
                                <div class="form-group" ng-class="{'has-error': datepickerForm.date.end.$invalid}">

                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </span>
                                        <input
                                            style="width: 50%; text-align: center;"
                                            class="form-control"
                                            size="8"
                                            ng-model="newEventData.end"
                                            name="time"
                                            bs-timepicker
                                            data-time-format="HH:mm"
                                            data-minute-step="5"
                                            data-arrow-behavior="picker"
                                            type="text">
                                        <input
                                            style="width: 50%; text-align: center;"
                                            class="form-control"
                                            ng-model="newEventData.end"
                                            name="date"
                                            bs-datepicker
                                            type="text">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>



                <div class='row'>

                    <div class='col-md-12'>
                        <div class="form-group">

                            <label>Paciente</label>
                            <span ng-switch on="getTypeOf(newEventData.patient)" ng-show="newEventData.patient != ''">
                                <span ng-switch-when="object" class="label label-success">CADASTRADO</span>
                                <span ng-switch-when="string" class="label label-primary">NOVO</span>
                                <span ng-switch-default></span>
                            </span>

                            <input
                                type="text"
                                id="patient_input"
                                name="patient_input"
                                class="form-control"
                                ng-model="newEventData.patient"
                                ng-model-options="{allowInvalid: true}"
                                data-min-length="1"
                                bs-options="patient as patient.name for patient in searchPatients($viewValue)"
                                placeholder="Busca por paciente"
                                ng-change=""
                                bs-typeahead
                                data-auto-select="true"
                                data-filter="false"
                                limit="10"
                                data-trim-value="false"
                                ng-trim="false">

                        </div>
                    </div>
                </div>

                <div class='row'>

                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Procedimento</label>

                            <button
                                type="button"
                                style="width: 100%"
                                class="btn btn-default"
                                ng-model="newEventData.procedure_id"
                                data-html="0"
                                data-toggle="true"
                                data-placeholder="Escolha o procedimento"
                                data-placement="bottom-center"
                                bs-options="procedure._id as procedure.name for procedure in procedures"
                                bs-select>
                            </button>

                        </div>
                    </div>

                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Profissional</label>

                            <button
                                type="button"
                                style="width: 100%"
                                class="btn btn-default"
                                ng-model="newEventData.schedule_id"
                                data-html="0"
                                data-toggle="true"
                                data-placeholder="Escolha o calendário"
                                data-placement="bottom-center"
                                bs-options="schedule._id as schedule.name for schedule in schedules"
                                bs-select>
                            </button>

                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label>Observações</label>
                            <textarea ng-model="newEventData.description" autofocus class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary" type="button" ng-show="!newEventData._id" ng-click="createEvent(newEventData)">Criar</button>
                <button class="btn btn-primary" type="button" ng-show="newEventData._id" ng-click="updateEvent(newEventData)">Atualizar</button>
                <button class="btn btn-danger" type="button" ng-show="newEventData._id" ng-click="deleteEvent(newEventData)">Remover</button>
                <button class="btn btn-default" type="button" ng-click="$hide()">Cancelar</button>

            </div>

        </div>

        <pre>{{ newEventData|json }}</pre>

    </div>
</div>
