<h1>Perfil</h1>
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-3 control-label">Nome</label>
    <p class="form-control-static">{{ profileData.name }}</p>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ profileData.email }}</p>
  </div>

  <div class="form-group">
    <button class="btn btn-default" type="button" ng-click="logout()">Deslogar</button>
  </div>

</form>
