<div class="row">

    <div class="col-md-12">
        <div class="well">

            <div class="row-fluid">

                <div class="span8">

                    <div style="text-align: center;">
                        <button
                            type="button"
                            style="position: absolute;"
                            class="btn btn-default"
                            ng-model="selectedScheduleId"
                            data-html="0"
                            data-toggle="true"
                            data-placeholder="Todos os Calendários"
                            data-placement="bottom-center"
                            bs-options="schedule._id as schedule.name for schedule in schedules"
                            ng-change="changeSchedule(selectedScheduleId)"
                            bs-select>
                        </button>
                    </div>

                    <div
                        class="calendar"
                        ng-model="eventSources"
                        calendar="proceduresSchedule"
                        ui-calendar="uiConfig.calendar">
                    </div>

                </div>
            </div>
        </div>
    </div>
